# What kind of data does pandas handle?

In [1]:
import pandas as pd

### * To manually store data in a table, create a DataFrame. When using a Python dictionary of lists, the dictionary keys will be used as column headers and the values in each list as columns of the DataFrame.

### * A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, categorical data and more) in columns.

In [2]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
                ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [3]:
df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

The table has 3 columns, each of them with a column label. The column labels are respectively Name, Age and Sex.

The column Name consists of textual data with each value a string, the column Age are numbers and the column Sex is textual data.

# Each column in a DataFrame is a Series!

In [4]:
df["Age"]

0    22
1    35
2    58
Name: Age, dtype: int64

In [5]:
type(df["Age"])

pandas.core.series.Series

In [6]:
ages = pd.Series([22, 35, 58], name="Age")
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [7]:
# with data frame
df["Age"].max()

58

In [8]:
# with series
ages.max()

58

## describe() 
The describe() method provides a quick overview of the numerical data in a DataFrame.

In [9]:
df.describe()

             Age
count   3.000000
mean   38.333333
std    18.230012
min    22.000000
25%    28.500000
50%    35.000000
75%    46.500000
max    58.000000